{% extends "base.html" %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> {% endblock %}{% block content %}



<div class="row">
    <h1>News Today</h1>
    {% for article in articles %}
    <div class="col-md-4 articles">


        <div class="clear">

        {% if article.urlToImage %} 

            <img src="{{ article.urlToImage }}" class="col-md-6 float-md-end mb-3 ms-md-3 mage" alt="{{ articles.id }}">
          {% endif %}


            <h4 class="">{{ article.title }}</h4>
            <p class="card-text"><small>{{ article.description}}...</small></p>

            <div class="details">

                <p><strong><span><small>{{ article.publishedAt }}</small></span></strong>
                    
                </p>

                <p>
                    <a href="{{ article.url }}" target="_blank" class="color-main"><small>Read More <i  class="fa fa-arrow-right"></i></small> </a>
               
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}