{% extends "base.html" %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> {% endblock %}{% block content %}




<div class="sources m-2" style="background-color: rgb(7, 7, 7); color: black;">
    <div class="card p-2">
        <h3 class="text-uppercase headings">Top News Sources</h3>
        <div class="row rom">


            {% for general_news in general %}
            <div class="col-md-2 sos">
                <p>

                    <a target="_blank" href="{{general_news.url }}">{{general_news.name}}</a>
                </p>


            </div>
            {%endfor%}
        </div>
    </div>
</div>


<!-- <div class="row bcc">
    <h2>Health Top Headlines </h2>
    {% for health in health %}
    <div class="col-md-3 display">
        <div class="card-image p-4 mb-3" style="background-image: url({health.urlToImage}});">
            <div class="headline">
                <h4 class="news-headings mt-2"><a target="_blank" href="{{health.url}}">{{ health.id }}</a></h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div> -->

 <div class="row bcc">
    <h2>Sports Top Headlines </h2>
    {% for sport in sports %}
    <div class="col-md-3 display">
        <div class="card-image p-4 mb-3" style="background-image: url({{sport.urlToImage}});">
            <div class="headline">
                <h4 class="news-headings mt-2"><a target="_blank" href="{{sport.url}}">{{sport.id}}</a>
                                        
                </h4>
                <button class="btn btn-primary news btn-sm mt-1">Sports News</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div> 

<div class="row bcc">
    <h2>Entertainment News Top Headlines </h2>
    {% for entertainment in entertainment %}
    <div class="col-md-3 display">
        <div class="card-image p-4 mb-3" style="background-image: url({{entertainment.urlToImage}});">
            <div class="headline">
                <h4 class="news-headings mt-2"><a target="_blank" href="{{entertainment.url}}">{{ entertainment.id }}</a>
                                   
                </h4>
                <button class="btn btn-primary news btn-sm mt-1">Entertainment News</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}